.t-paragraph {
  color: $text-color;
  font: 400 1em/1.2 $base-font;

  &--small {
    font-size: .9em;
  }

  &--medium {
    font-size: 1.1em;
  }

  &--large {
    font-size: 1.2em;
  }

  &--x-large {
    font-size: 1.3em;
  }

  &--color {
    color: $primary-color;
  }

  &--bold {
    font-weight: 700;
  }

  &--white {
    color: $white;
  }

  &--center {
    text-align: center;
  }

  &--upper {
    text-transform: uppercase;
  }
}

.t-heading {
  color: $text-color;
  font: 300 1.5em/1.2 $heading-font;

  &--small {
    font-size: 1em;
  }

  &--large {
    font-size: 2em;
  }

  &--color {
    color: $primary-color;
  }

  &--white {
    color: $white;
  }

  &--upper {
    text-transform: uppercase;
  }

  &--center {
    text-align: center;
  }
}