<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Arimo:400,700|Comfortaa:300,400,700&amp;subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="{% static "frontend/styles.css" %}">
  <title>Music Library</title>
</head>
<body>
  <div id="app"><!-- React --></div>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>
</body>
</html>