.btn {
  background: $dark-blue;
  border: 1px solid $dark-blue;
  border-radius: 0;
  color: $white;
  height: 40px;
  font: 700 1.1em/1.2 $base-font;
  box-shadow: 0px 0px 4px rgba($black, 0.15);
  transition: background 0.3s ease-out;

  @include media($x-small) {
    min-width: 100px;
  }

  &:hover {
    background: $primary-color;
    border-color: $primary-color;
    cursor: pointer;
  }

  &--secondary {
    background: $secondary-color;
    border-color: $secondary-color;

    &:hover {
      background: lighten($yellow, 5%);
      border-color: lighten($yellow, 5%);
      cursor: pointer;
    }
  }

  &--small {
    height: 30px;
    font-size: 0.9em;
  }

  &--xsmall {
    height: 30px;
    font-size: 0.7em;
  }

  &--outline {
    background: $white;
    color: $primary-color;

    &:hover {
      color: $white;
    }
  }
}