.ArtistForm__header {
  display: flex;
  flex-direction: column;

  @include media($medium) {
    align-items: flex-start;
    flex-direction: row;
  }
}

.ArtistForm__column {
  order: 2;
  margin-top: 15px;

  @include media($medium) {
    flex: 3;
    order: 1;
    margin-top: 0;
  }
}

.ArtistForm__figure {
  align-items: center;
  background: $white;
  border: 1px solid $primary-color;
  flex-direction: column;
  display: flex;
  justify-content: center;
  min-height: 253px;
  order: 1;

  @include media($medium) {
    flex: 2;
    order: 2;
    width: calc(50% - 80px);
    margin-left: 80px;
    margin-top: 10px;
  }
}

.ArtistForm__image {
  height: 253px;
  display: block;
  object-fit: cover;
  width: 100%;
}

.ArtistForm__textarea {
  min-height: 250px;
  resize: none;
}

.ArtistForm__btn {
  width: 100%;

  &--submit {
    margin-bottom: 20px;
  }

  @include media($small) {
    min-width: 150px;
    width: auto;

    &--submit {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}

.ArtistForm__error {
  border: 1px solid $red;
  color: $red;
  padding: 10px 15px;
  margin-top: 20px;
  opacity: 1;
  width: 100%;
  transition: opacity 0.5s $transition; 

  &.entering {
    animation: displayError 0.8s forwards;
  }

  &.exiting {
    opacity: 0;
  }
}