.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter-width;
  padding-right: $gutter-width;
  // width: 100%;

  @include media ($large + ($gutter-width * 2)) {
    max-width: $large-screen;
    padding-left: 0;
    padding-right: 0;
  }
}
