.Form__row {
  position: relative;
  margin: 10px 0 25px;
  width: 100%;
}

.Form__label {
  position: absolute;
  top: -8px;
  color: $very-dark-blue;
  background: white;
  text-transform: uppercase;
  font-size: 12px;
  left: 10px;
  font-weight: 700;
  padding: 0 5px;
}

.Form__input {
  border: 1px solid $primary-color;
  padding: 10px 7px;
  min-height: 45px;
  text-indent: 7px;
  width: 100%;

  &.is-invalid {
    border-color: $red;

    &:focus {
      outline: $red;
    }
  }
}

.Form__error {
  align-items: center;
  border: 1px solid $red;
  color: $red;
  display: flex;
  padding: 10px 15px;
  min-height: 45px;
  margin-top: 20px;
  opacity: 1;
  transition: opacity 0.5s $transition; 
  width: 100%;

  &.is-entering {
    animation: displayError 0.8s forwards;
  }

  &.is-exiting {
    opacity: 0;
  }
}