.HeaderComponent {
  background-color: $dark-blue;
  padding: 15px 0;
  width: 100%;
   
  @include media($medium) {
    padding: 0;
  }
}

.HeaderComponent__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.HeaderComponent__menuDropdown {
  position: fixed;

  @include media($medium) {
    display: none;
  }
}

.HeaderComponent__menu {
  background: $primary-color;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 0;
  transition: transform 0.25s $transition;
  transform: translate3d(-100%, 0, 0);
  width: 50vw;
  z-index: 15;

  &.is-active {
    transform: translate3d(0, 0, 0);

    + .HeaderComponent__menuDropdown {
      background-color: $black;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.1s linear;
      width: 100%;
      z-index: 10;

      &.is-active {
        opacity: 0.5;
      }
    }
  }

  @include media($medium) {
    align-items: center;
    background: transparent;
    flex-direction: row;
    height: auto;
    position: static;
    transform: none;
    padding: 0;
    opacity: 1;
    z-index: 0;
  }
}

.HeaderComponent__link {
  color: $white;
  padding: 10px 0;

  @include media($medium) {
    padding: 25px 10px;
  }

  &:hover {
    color: $secondary-color;
  }
  

  &.active {
    background: $primary-color;
  }
}

.HeaderComponent__filter {
  position: relative;
  width: 60%;

  @include media($medium) {
    width: auto;
  }
}

.HeaderComponent__filterInput {
  color: $white;
  font-size: 0.95em;
  border: 0;
  background: lighten($dark-blue, 4%);

  &::placeholder {
    color: $white;
  }
}

.HeaderComponent__filterResults {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  margin-top: 40px;
  padding: 0 15px;
  background: $white;
  z-index: 2;
  overflow: hidden;
  max-height: 0;
  transition: max-height .6s $transition;

  &.is-active {
    max-height: 999px;
  }
}

.HeaderComponent__filterResultsItem {
  margin: 10px 0;
}

.HeaderComponent__arrow {
  background-color: transparent;
  border: 0;
  appearance: none;
  position: relative;
  height: 24px;
  width: 30px;

  &:before {
    background-color: $white;
    border-radius: 4px;
    content: '';
    position: absolute;
    height: 4px;
    top: 0;
    left: 0;
    transform: translate3d(-6px, 3px, 0) rotate(-45deg) scaleX(.7);
    width: 100%;
  }

  &:after {
    background-color: $white;
    border-radius: 4px;
    content: '';
    position: absolute;
    height: 4px;
    bottom: 0;
    left: 0;
    transform: translate3d(-6px, -3px, 0) rotate(45deg) scaleX(.7);
    width: 100%;
  }

  @include media($medium) {
    display: none;
  }
}

.HeaderComponent__arrowPart {
  background-color: $white;
  position: absolute;
  border-radius: 4px;
  height: 4px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 0);
  opacity: 1;
  transition: opacity .2s linear;
  width: 100%;
}

.HeaderComponent__hamburger {
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  position: relative;
  height: 24px;
  width: 35px;

  &:before {
    background-color: $white;
    border-radius: 4px;
    content: '';
    position: absolute;
    height: 4px;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity .2s linear,  transform .2s linear;
  }

  &:after {
    background-color: $white;
    border-radius: 4px;
    content: '';
    position: absolute;
    height: 4px;
    bottom: 0;
    left: 0;
    transition: opacity .2s linear,  transform .2s linear;
    width: 100%;
  }

  &.is-active {
    z-index: 10;

    &:before {
      transform: translate3d(0, 10px, 0) rotate(45deg);
    }

    &:after {
      transform: translate3d(0, -10px, 0) rotate(-45deg);
    }
  }

  &:focus {
    outline: 0;
  }

  @include media($medium) {
    display: none;
  }
}

.HeaderComponent__hamburgerPart {
  background-color: $white;
  position: absolute;
  border-radius: 4px;
  height: 4px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 0);
  opacity: 1;
  transition: opacity .2s linear,  transform .2s linear;
  width: 100%;

  .is-active & {
    transform: rotate(-45deg) translate3d(-6px, 0, 0);
    opacity: 0;
  }
}