.SingleArtist__header {
  @include media($medium) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
  }
}

.SingleArtist__info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto 1fr 40px;
}

.SingleArtist__body {
  margin-top: 10px;

  @include media($medium) {
    margin-top: 0;
  }
}

.SingleArtist__meta {
  align-items: flex-end;
  display: flex;
  margin-top: 20px;

  @include media($medium) {
    margin-top: 0;
  }
}

.SingleArtist__country {
  background-color: $primary-color;
  padding: 5px;
}

.SingleArtist__genre {
  background-color: $secondary-color;
  padding: 5px;
  margin-right: 10px;
}

.SingleArtist__date {
  align-items: flex-end;
  color: $gray;
  display: flex;
  grid-row-start: 4;
}

.SingleArtist__figure {
  margin-top: 20px;
  box-shadow: 0px 0px 4px rgba($black, 0.25);

  @include media($medium) {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    margin-left: 20px;
  }
}

.SingleArtist__image {
  height: auto;
  display: block;
  object-fit: cover;
  width: 100%;

  @include media($medium) {
    height: 350px;
    max-width: 100%;
  }
}

.SingleArtist__btn {
  color: $gray;
  border: 0;
  background: none;
  transition: color 0.4s $transition;

  &:hover {
    cursor: pointer;
  }

  &--delete {
    &:hover {
      color: $red;
    }
  }
}

.SingleArtist__bottom {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}