.AlbumForm {
  margin-top: 40px;

  @include media($medium) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.AlbumForm__heading {
  width: 100%;
  margin: 10px 0 20px;
}

.AlbumForm__labelWrapper {
  @include media($medium) {
    margin: 0;
    width: calc(30% - 20px);
  }
}

.AlbumForm__label {
  flex: 4;
}

.AlbumForm__input {
  flex: 6;
}

.AlbumForm__submit {
  height: 45px;
  width: 100%;

  @include media($medium) {
    width: 10%;
  }
}