.Modal {
  align-items: center;
  display: flex;
  justify-content: center;
  background: rgba($black, 0.5);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity .4s ease-in;
  z-index: 20;

  &.entering {
    animation: fadeInModal 0.3s forwards;
  }

  &.entered {
    opacity: 1;
  }

  &.exiting {
    animation: fadeOutModal 0.3s forwards;
  }
}

.Modal__form {
  align-items: center;
  background-color: $white;
  box-shadow: 0px 0px 4px rgba($black, 0.25);
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 40px;
  width: 100%;

  @include media($medium) {
    display: block;
    height: auto;
    position: relative;
    max-width: 400px;
  }
}

.Modal__formInner {
  width: 100%;
}

.Modal__closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1.1;
  background: $secondary-color;
  padding: 0 10px;
  transition: background 0.3 $transition;

  &:hover {
    background: lighten($secondary-color, 5%);
    cursor: pointer;
  }
}

.Modal__heading {
  margin-bottom: 30px;
}

.Modal__buttons {
  margin-top: 40px;

  @include media($medium) {
    display: flex;
    justify-content: center;
  }
}

.Modal__btn {
  width: 100%;

  &--submit {
    margin-bottom: 20px;
  }

  @include media($medium) {
    width: auto;
    
    &--submit {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }
}

@keyframes fadeInModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutModal {
  to {
    opacity: 0;
  }
}