.SongsList {
  display: none;
  opacity: 0;
  max-height: 0;
  overflow: hidden;

  .is-active & {
    display: block;
    animation: tabShow 0.6s forwards;

    @include media($medium) {
      margin: 10px 0;
    }
  }

  .is-closing & {
    display: block;
    animation: tabHide 0.4s forwards;
    opacity: 1;
    max-height: 999px;
  }
}

.SongsList__grid {
  @include media($medium) {
    display: grid;
    grid-template-areas: "songslist buttons"
                         "newsong newsong";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr minmax(min-content, max-content);
  }
}

.SongsList__list {
  margin: 20px 0 10px;
  counter-reset: songs-counter;

  @include media($medium) {
    margin: 0 0 10px;

    grid-area: songslist;
  }
}

.SongsList__item {
  display: grid;
  grid-template-areas: "counter item buttons";
  grid-template-columns: 25px 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 5px;
  transform: translate3d(0%, 0%, 0);
  transition: translate3d 0.4s $transition;

  &:hover {
    background-color: lighten($yellow, 5%);
  }

  &:before {
    content: counter(songs-counter, decimal-leading-zero);
    counter-increment: songs-counter;
    grid-area: counter;
  }

  &.is-entering {
    animation: itemSlideIn 0.4s ease-in-out forwards;
    transform: translate3d(-100%, 0%, 0);
  }

  &.is-exiting {
    animation: itemSlideOut 0.4s ease-in-out forwards;
  }

  @include media($medium) {
    padding-left: 50px;
  }
}

.SongsList__itemName {
  margin-right: 10px;
  grid-area: item;
}

.SongsList__itemBtn {
  border: 0;
  background: none;
  color: $red;
  display: none;
  grid-area: buttons;
  justify-content: flex-end;
  transition: color 0.4s $transition;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    color: darken($red, 5%);
    outline: 0;
  }

  &--cancel {
    color: $primary-color;
  }

  .SongsList__item:hover & {
    display: flex;
  }
}

.SongsList__deletePrompt {
  display: flex;
  grid-area: buttons;
  justify-content: flex-end;
}

.SongsList__side {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;

  @include media($medium) {
    margin: 0;
    grid-area: buttons;
  }
}

.SongsList__sideBtn {
  width: 50%;

  @include media($medium) {
    margin-top: 0;
    width: auto;

    &--with-margin {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.SongsList__newSong {

  @include media($medium) {
    padding-left: 50px;
    grid-area: newsong;
    display: flex;
  }
}

.SongsList__newSongWrapper {
  border-bottom: 1px solid $primary-color;
  display: flex;
  justify-content: space-between;
  transition: border-color 0.5s $transition;

  @include media($medium) {
    display: block;
  }

  &.is-invalid {
    border-color: $red;
  }
}

.SongsLists__newSongLabel {
  @include media($medium) {
    min-width: 400px;
  }
}

.SongsLists__newSongInput {
  background: transparent;
  border: 0;
  padding: 5px 5px 5px 0;
  margin-right: 5px;

  &:focus {
    outline: 0;
  }

  &::placeholder {
    color: $gray;
  }
}

.SongsList__newSongBtn {
  border: 0;
  color: $gray;
  line-height: 1;
  background: none;
  transition: color 0.4s $transition;
  
  &:focus {
    outline: 0;
    color: $primary-color;
  }

  &:hover {
    color: $primary-color;
    cursor: pointer;
  }
}

.SongLists__LabelHidden {
  display: none;
}

.SongsList__errorText {
  color: $red;
  padding: 5px;
  margin-top: 10px;
  opacity: 1;
  transition: opacity 0.5s $transition;

  &.is-entering {
    animation: displayError 0.8s forwards;
  }

  &.is-exiting {
    opacity: 0;
  }

  @include media($medium) {
    margin-top: 0;
    margin-left: 20px;
  }
}