.ItemsListing__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.ListItem {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  margin: 15px;
  height: 320px;
  width: 100%;
  z-index: 1;

  &:after {
    @include linear-gradient(42deg, rgba($secondary-color, 0.12) 0%, rgba($primary-color,0.15) 10%, rgba($secondary-color, 0.8) 140%);
    box-shadow: 0px 0px 4px rgba($black, 0.25);
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  @include media($x-small) {
    width: calc(50% - 30px);
  }

  @include media($medium) {
    width: calc(33.333% - 30px);
  }

  @include media($large) {
    width: calc(25% - 30px);
  }
}

.ListItem__content {
  display: grid;
  grid-template-rows: 40% 1fr 30%;
  grid-template-columns: 1fr;
  height: 100%;
  padding: 15px;
  position: relative;
  z-index: 3;
}

.ListItem__heading {
  grid-row-start: 1;
}

.ListItem__meta {
  align-items: flex-end;
  display: flex;
  grid-row-start: 2;
  justify-content: flex-end;
}

.ListItem__country {
  margin-right: 10px;
  background-color: $primary-color;
  padding: 5px;
}

.ListItem__genre {
  background-color: $secondary-color;
  padding: 5px;
}

.ListItem__copy {
  align-items: flex-end;
  display: flex;
  grid-row-start: 3;
  overflow: hidden;
}