@keyframes displayError { 
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes itemSlideIn {
  from {
    transform: translate3d(-100%, 0%, 0);
  }
  to {
    transform: translate3d(0, 0%, 0);
  }
}

@keyframes itemSlideOut {
  from {
    transform: translate3d(0, 0%, 0);
  }
  to {
    transform: translate3d(-100%, 0%, 0);
  }
}

@keyframes tabShow {
  1% {
    display: block;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 999px;
  }
}

@keyframes tabHide {
  to {
    opacity: 0;
    max-height: 0;
  }
}

@keyframes albumFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}