// Neat Breakpoints
$x-small-screen: 560px;
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1170px;
$largest-screen: 1340px;

$x-small: $x-small-screen;
$small: $small-screen;
$medium: $medium-screen;
$large: $large-screen;
$largest: $largest-screen;

// Typography
$base-font: 'Arimo', sans-serif;
$heading-font: 'Comfortaa', sans-serif;

$gutter-width: 30px;
$transition: cubic-bezier(0.27, 0.57, 0.57, 0.57);

// Colors;
$black: #000;
$dark: #222;
$white: #fff;
$gray: #ccc;
$very-light-gray: #f9f9f9;
$blue: #2196f3;
$dark-blue: #0166da;
$very-dark-blue: #446c94;
$yellow: #ffc680;
$red: #e53935;

$primary-color: $blue;
$secondary-color: $yellow;
$text-color: $dark;
