
.AlbumList__item {
  border-bottom: 1px solid $dark-blue;
  padding: 5px 0;
  margin: 10px 0;
  transition: opacity 0.4s $transition;

  &.is-entering {
    animation: albumFadeIn 0.4s ease-in-out forwards;
  }

  &.is-exiting {
    opacity: 0;
  }
}

.AlbumList__itemTab {
  align-items: center;
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.AlbumList__icon {
  height: 35px;
  width: 35px;
  margin-right: 15px;
}

.AlbumList__itemContent {
  width: 100%;

  @include media($medium) {
    display: flex;
    justify-content: space-between;
  }
}

.AlbumList__itemContentMeta {
  margin-top: 5px;

  @include media($x-small) {
    display: grid;
    grid-template-areas: "year songs";
    column-gap: 30px;
    grid-template-columns: 1fr 150px;
    grid-template-rows: 1fr;
  }

  @include media($medium) {
    margin-top: 0;
  }
}

.AlbumList__releaseYear {
  grid-area: year;
}

.AlbumList__songs {
  grid-area: songs;
}